# Ignore build and data directories
dist/
node_modules/
.data/
.cache/
.npm/
*.log
*.lock
coverage/
firebase-export-*/

# Ignore Handlebars HTML templates as Handlebars syntax inside HTML tags breaks Prettier's HTML parser
*.html
