    <main class="content center">
      <h2>
        Enter a password
      </h2>
      <form id="form" method="POST" action="/auth/password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <label class="mdc-text-field mdc-text-field--outlined">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="username-label">password</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
            type="password"
            class="mdc-text-field__input"
            aria-labelledby="password-label"
            name="password"
            value="password"
            autocomplete="current-password"
            autofocus />
        </label>
        <md-filled-button type="submit">Sign-In</md-filled-button>
        <p class="instructions">password will be ignored in this demo.</p>
      </form>
    </main>
    <script src="https://unpkg.com/material-components-web@14.0.0/dist/material-components-web.min.js"></script>
    <script type="module">
      import { $, _fetch } from '/client.js';
      new mdc.textField.MDCTextField($('.mdc-text-field'));

      const form = $('#form');
      form.addEventListener('submit', e => {
        e.preventDefault();
        const form = new FormData(e.target);
        const cred = {};
        form.forEach((v, k) => cred[k] = v);
        _fetch(e.target.action, cred)
        .then(user => {
          location.href = '/home';
        })
        .catch(e => alert(e));
      });
    </script>
