<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Delete account
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">
In this page, you can experience and learn account deletion, Login Status API.

## How to use

TBD

## How to develop

TBD
  </div>
</div>
<main class="content center">
  <h2>Do you really want to delete your account?</h2>
  <section class="center" style="min-width: 350px">
    <div class="split">
      <mdui-button id="cancel" variant="outlined"> cancel </mdui-button>
      <mdui-button id="delete-account" variant="filled">
        Delete account
      </mdui-button>
    </div>
  </section>
</main>
