<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Associated Identity Providers
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">
In this page, you can show a list of identity providers you have associated with.

## How to use

There's nothing you can do in this page yet. It just shows list of identity
providers you have associated with.

  </div>
</div>
<main class="content center">
  <h2>Associated identity providers</h2>
  <section id="identity-providers">
    <mdui-list id="list"></mdui-list>
  </section>
</main>
