<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Passkey management
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">
In this page, you can experience a passkey management page.

## How to use

In the passkey management page, can do the following things:

* Register a new passkey.
* Delete the registered credential.
* Rename the registered credential.
* Find the name, creation date, last used date, provider of the passkey and sync
state of the passkey associated with the credential.

## How to develop

Here's the checklist of a good passkey management page:

* Allow users to manage passkeys in a [passkey management
page](https://web.dev/articles/passkey-management).  
* Support [registering multiple
passkeys](https://web.dev/articles/passkey-management#manage_multiple_passkeys).  
* Allow users to [add new and flexible types of
passkeys](https://web.dev/articles/passkey-management#allow_creation_of_new_passkeys)
on the management page.  
* Display the [passkey
name](https://web.dev/articles/passkey-management#display_a_list_of_registered_passkeys).  
* Indicate whether a passkey is [syncable or
non-syncable](https://web.dev/articles/passkey-management#display_a_list_of_registered_passkeys).  
* Allow users to [remove a public
key](https://web.dev/articles/passkey-management#deleting-a-passkey) from the
server.  
* Signal the list of passkeys when an associated public key is removed from the
server.  

### Learning resources

* [Help users manage passkeys effectively](https://web.dev/articles/passkey-management)

  </div>
</div>
<main class="content center">
  <section id="passkeys">
    <h3>Your passkeys</h3>
    <mdui-list id="list"></mdui-list>
  </section>
  <p id="message" class="instructions"></p>
  <mdui-button
    id="create-passkey"
    icon="add--outlined"
    class="hidden"
    variant="filled"
    >Create a passkey</mdui-button
  >
</main>
