    <div id="help-text">
      <div class="help-headline">
        Password change form
      </div>
      <div class="help-description">
## How to use

Enter a new password twice and enter "Change password" to update your account's
password. Note that the password is not saved to the server as this is a demo
service.

You'll be asked to verify your identity before visiting this page when certain
duration has passed since your last verification.

## How to develop

<!-- ```html
<input type="text" name="username" autocomplete="username">
<input type="password" name="password1" autocomplete="new-password">
<input type="password" name="password2" autocomplete="new-password">
``` -->

TBD

[Help users change passwords easily by adding a well-known URL for changing
passwords](https://web.dev/articles/change-password-url)

[Learn more about Signal API](https://developer.chrome.com/blog/passkeys-signal-api).
      </div>
    </div>
    <main class="content center">
      <h2>
        Change password
      </h2>
      <form id="form" method="POST" action="/auth/password-change" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <h3>Enter the new password</h3>
        <mdui-text-field
          type="password"
          id="new-password1"
          name="new-password1"
          autocomplete="new-password"
          label="New password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            id="new-password1-toggle"
            toggle slot="trailing-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-text-field
          type="password"
          id="new-password2"
          name="new-password2"
          autocomplete="new-password"
          label="Confirm password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            id="new-password2-toggle"
            toggle slot="trailing-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-button type="submit" variant="filled">Change password</mdui-button>
      </form>
    </main>