    <main class="content center">
      <h2>
        Change password
      </h2>
      <form id="form" method="POST" action="/auth/password-change" class="center">
        <h3>Enter your current password</h3>
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <mdui-text-field
          type="password"
          id="current-password"
          name="current-password"
          autocomplete="current-password"
          label="Current password"
          variant="outlined"
          autofocus>
        </mdui-text-field>
        <h3>Enter the new password</h3>
        <mdui-text-field
          type="password"
          id="new-password1"
          name="new-password1"
          autocomplete="new-password"
          label="New password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            id="new-password1-toggle"
            toggle slot="trailing-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-text-field
          type="password"
          id="new-password2"
          name="new-password2"
          autocomplete="new-password"
          label="Confirm password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            id="new-password2-toggle"
            toggle slot="trailing-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-button type="submit" variant="filled">Change password</mdui-button>
      </form>
    </main>