    <main class="content center">
      <h2>
        Welcome back!
      </h2>
      <form id="form" method="POST" action="/auth/username" class="center">
        <p class="instructions">Don't have an account yet? Register now</p>
        <label class="mdc-text-field mdc-text-field--outlined">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="username-label">username</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
           type="text"
           id="username"
           class="mdc-text-field__input"
           aria-labelledby="username-label"
           name="username"
           autocomplete="username webauthn"
           size="30"
           autofocus />
        </label>
        <input type="password" class="hidden" name="password" />
        <md-filled-button type="submit">Continue</md-filled-button>
        <!-- <ol class="instructions narrow">
          <li>Sign in with a random username and password.</li>
          <li>Create a passkey.</li>
          <li>Sign out.</li>
          <li>Click or tap on the username input field to show an autofill dialog.</li>
          <li>Select a passkey.</li>
          <li>Authenticate.</li>
          <li>You are signed in.</li>
        </ol> -->
      </form>
    </main>
    <script type="module" src="/scripts/pages/identifier-first-form.js"></script>