    <main class="content center">
      <h2>
        Choose your passkey to sign in
      </h2>
      <section class="center">
        <md-filled-button id="passkey-signin">
          Sign-in with passkey
        </md-filled-button>
        <ol class="instructions narrow">
          <li>If you haven't created a passkey yet, go back to <a href="/">the top page</a> and follow the instructions to create one.</li>
          <li>If you already have a passkey, click on the "Sign in with passkey" button.</li>
          <li>Select a passkey.</li>
          <li>Authenticate.</li>
          <li>You are signed in.</li>
        </ol>
      </section>
    </main>
    <script type="module" src="/scripts/pages/passkey-one-button.js"></script>
