<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Unified sign-in
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn unified sign-in flow using
passwords and passkeys. This uses Credential Manager for the Web.

## Prerequisites

* Unified sign-in requires Chrome 135 or later with
`chrome://flags#web-authentication-immediate-get` enabled.

Last updated: 2025/05/18

## How to use

Click on the **Sign-in** button and a list of password accounts and passkey
accounts will appear in a dialog. Choose one of accounts and proceed.

## How to develop

Unified sign-in can be implemented using `navigator.credentials.get()` with
`mediation: "immediate"` and a different credential types. It can accept
`PublicKeyCredential` (passkeys) and `PasswordCredential` (passwords) at the
moment. In the future, `IdentityCredential` (FedCM) will be accepted as well.

  </div>
</div>
<main class="content center">
  <h2>Choose your account to sign in</h2>
  <section class="center">
    <mdui-button id="signin" type="button" variant="filled"
      >Sign-in</mdui-button
    >
    <mdui-button href="/passkey-form-autofill" variant="text"
      >Sign in with a form instead</mdui-button
    >
  </section>
</main>
