<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
FedCM active mode
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn FedCM and its "active mode".

## How to use

TBD

## How to develop

TBD

  </div>
</div>
<main class="content center">
  <h2>Use your federated identity to sign in</h2>
  <section class="center">
    <mdui-button id="fedcm" icon="lock--outlined" variant="filled">
      Sign in with fedcm-idp.demo.glitch.me
    </mdui-button>
    <mdui-button href="/passkey-form-autofill" variant="text"
      >Sign in with a form instead</mdui-button
    >
  </section>
</main>
