<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
FedCM passive mode
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn FedCM passive mode.

FedCM has two modes: "passive" and "active".

* "active": FedCM prompt must be initiated by user interaction (such as clicking a button).
* "passive": FedCM prompt will be initiated without direct user interaction. 

## Prerequisites

* Google Chrome

Last updated: 2025/05/18

## How to use

If the browser supports FedCM, a FedCM widget will appear at the top right
corner as soon as you land this page. FedCM on this website supports "[FedCM
Demo IdP](https://sesame-identity-provider.appspot.com)" and
"[Google](https://accounts.google.com)".

Select one of identity providers (IdP) and a popup window appears if you haven't
signed in to the IdP yet. As soon as you are signed in to the IdP, you're signed
in to this website.

## How to develop

Learn how to implement FedCM on a relying party:

* [Implement an identity solution with FedCM on the Relying Party
side](https://privacysandbox.google.com/cookies/fedcm/implement/relying-party)

  </div>
</div>
<main class="content center">
  <h2>Log in</h2>
  <form id="form" method="POST" action="/auth/username-password" class="center">
    <p class="instructions">
      Don't have an account yet? <a href="/signup-form">Register now</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username webauthn"
      label="username"
      width="100"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      label="password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        toggle
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <p id="unsupported" class="instructions">
      This browser does not support FedCM.
    </p>
    <mdui-button type="submit" variant="filled">Login</mdui-button>
    <mdui-button href="#" variant="text">Forgot password?</mdui-button>
    <p class="instructions">
      This is a demo website. Please don't use a real email address or a real
      password.
    </p>
  </form>
</main>
