    <div id="help-text">
      <div class="help-headline">
        FedCM active mode
      </div>
      <div class="help-description">

        In this page, you can experience and learn FedCM and its "active mode".

        ## How to use

        TBD

        ## How to develop

        TBD

      </div>
    </div>
    <main class="content center">
      <h2>
        Welcome back!
      </h2>
      <form id="form" method="POST" action="/auth/username" class="center">
        <p class="instructions">Don't have an account yet? Register now</p>
        <mdui-text-field
          type="text"
          id="username"
          name="username"
          autocomplete="username webauthn"
          label="username"
          variant="outlined"
          autofocus>
        </mdui-text-field>
        <input type="password" class="hidden" name="password" />
        <mdui-button type="submit" variant="filled">Continue</mdui-button>
        <mdui-button
          id="fedcm"
          icon="lock--outlined"
          variant="tonal">
          Sign in with fedcm-idp.demo.glitch.me
        </mdui-button>
      </form>
    </main>