<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
FedCM form autofill
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience authentication through a form that can
accommodate passkeys, passwords and identity federation.

## Prerequisites

* Chrome desktop 137 or later with `chrome://flags#fedcm-autofill` enabled.

## How to use

Put your cursor on the input field (it may take a few seconds to get the
identity federation option to appear).

Select a password, a passkey or identity federation suggested in the form
autofill to sign in, or manually enter a username to continue.

If you haven't created an account on this website with identity federation in
the past, go to [FedCM active mode](/fedcm-active-mode) or [FedCM passive
mode](/fedcm-passive-mode) to create one and come back here.

## How to develop

You can enable **FedCM form autofill** by appending `mediation: "conditional"`
to the `navigator.credentials.get()` call to an ordinary FedCM authentication
invocation. Also, the `input` element must contain `webidentity` within its
`autocomplete` attribute.

### Learning resources

* [Implement an identity solution with FedCM on the Relying Party
side](https://privacysandbox.google.com/cookies/fedcm/implement/relying-party)

  </div>
</div>
<main class="content center">
  <h2>Welcome back!</h2>
  <form id="form" method="POST" action="/auth/username" class="center">
    <p class="instructions">Don't have an account yet? Register now</p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username webidentity webauthn"
      label="username"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <input type="password" class="hidden" name="password" />
    <mdui-button type="submit" variant="filled">Continue</mdui-button>
    <p class="instructions">
      This is a demo website. Please don't use a real email address or a real
      password.
    </p>
  </form>
</main>
