    <main class="content center">
      <h2>
        Welcome back!
      </h2>
      <form id="form" method="POST" action="/auth/username" class="center">
        <p class="instructions">Don't have an account yet? Register now</p>
        <mdui-text-field
          type="text"
          id="username"
          name="username"
          autocomplete="username webauthn"
          label="username"
          variant="outlined"
          autofocus>
        </mdui-text-field>
        <input type="password" class="hidden" name="password" />
        <mdui-button type="submit" variant="filled">Continue</mdui-button>
      </form>
    </main>