    <main class="content center">
      <h2>
        Welcome to Project Sesame
      </h2>
      <ul>
        <li><a href="/signup-form">Sign-up Form</a></li>
        <li><a href="/signin-form">Sign-in Form</a></li>
        <li><a href="/identifier-first-form">Passkey form autofill</a></li>
        <li><a href="/unified-button">Unified button</a></li>
        <li><a href="/passkey-one-button">Passkey one button</a></li>
        <li><a href="/fedcm-rp">FedCM relying party</a></li>
      </ul>
    </main>