    <div id="help-text">
      <div class="help-headline">
        Index page
      </div>
      <div class="help-description">

        This is Project Sesame's index page.

        Project Sesame is designed to showcase one authentication demo at a
        time. Links usually point at a specific authentication demo (as a path)
        and users are brought back to where they sign in from, when they sign
        out.
        
        By coming to this page, users can get an overview of available
        authentication demos.

      </div>
    </div>
    <main class="content center">
      <h2>
        Welcome to Project Sesame
      </h2>
      <ul>
        <li><a href="/signup-form">Sign-up Form</a></li>
        <li><a href="/signin-form">Sign-in Form</a></li>
        <li><a href="/passkey-signup">Sign-up with a passkey</a></li>
        <li><a href="/passkey-form-autofill">Passkey form autofill</a></li>
        <li><a href="/passkey-one-button">Passkey one button</a></li>
        <li><a href="/fedcm-rp">FedCM relying party</a></li>
        <li><a href="/fedcm-delegate">FedCM form autofill</a></li>
        <li><a href="/unified-button">Password and identity federation unified sign-in</a></li>
        <li><a href="/password-passkey">Password and passkey unified sign-in</a></li>
      </ul>
    </main>