    <div id="help-text">
      <div class="help-headline">
        Legacy Credential Management
      </div>
      <div class="help-description">

        In this page, you can experience and learn a sign-in flow using a
        `PasswordCredential` and `FederatedCredential` through Credential Management API

        ## How to use

        TBD

        ## How to develop

        TBD

      </div>
    </div>
    <main class="content center">
      <h2>
        Press the button to sign in
      </h2>
      <section class="center">
        <mdui-button id="signin" variant="filled">
          Sign-in
        </mdui-button>
      </section>
      <mdui-button href="/signin-form" variant="text">Sign in with a form instead</mdui-button>
    </main>
