    <main class="content center">
      <h2>
        Create a new password
      </h2>
      <form id="form" method="POST" action="/auth/new-password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <mdui-text-field
          type="password"
          id="password"
          name="password"
          autocomplete="new-password"
          value="password"
          label="password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            class="password-toggle"
            slot="end-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-button type="submit" variant="filled">Create account</mdui-button>
        <p class="instructions">password will be ignored in this demo.</p>
      </form>
    </main>
