<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
New password creation
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn a new password creation experience.

## How to use

This is part of an identifier first sign-up experience. You must have entered a
username in the previous page. Simply enter a password to proceed.

After a successful password verification, you'll be signd in.

*This demo doesn't save the password to the server. You can use a random text as
your password.*

## How to develop

Use `input` tag and `autocomplete="new-password"` attribute to the `password`
field.

  </div>
</div>
<main class="content center">
  <h2>Create a new password</h2>
  <form id="form" method="POST" action="/auth/new-password" class="center">
    <input type="text" name="username" value="{{username}}" class="hidden" />
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="new-password"
      value="password"
      label="password"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Create account</mdui-button>
    <p class="instructions">password will be ignored in this demo.</p>
  </form>
</main>
