    <main class="content center">
      <h2>
        Create a new password
      </h2>
      <form id="form" method="POST" action="/auth/new-password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <md-outlined-text-field
          type="password"
          id="password"
          name="password"
          autocomplete="new-password"
          value="password"
          label="password"
          autofocus>
          <md-icon-button id="password-toggle" toggle slot="trailing-icon">
            <md-icon slot="selected">visibility</md-icon>
            <md-icon>visibility_off</md-icon>
          </md-icon-button>
        </md-outlined-text-field>
        <md-filled-button type="submit">Create account</md-filled-button>
        <p class="instructions">password will be ignored in this demo.</p>
      </form>
    </main>
