    <main class="content center">
      <h2>
        Enter a password
      </h2>
      <form id="form" method="POST" action="/auth/password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <md-outlined-text-field
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          value="password"
          label="password"
          autofocus>
          <md-icon-button id="password-toggle" toggle slot="trailing-icon">
            <md-icon slot="selected">visibility</md-icon>
            <md-icon>visibility_off</md-icon>
          </md-icon-button>
        </md-outlined-text-field>
        <a href="#">Forgot password?</a>
        <div class="split">
          <md-outlined-button>Back</md-outlined-button>
          <md-filled-button type="submit">Login</md-filled-button>
        </div>
        <p class="instructions">password will be ignored in this demo.</p>
      </form>
    </main>
