<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Unified sign-in
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn unified sign-in flow using
passwords and passkeys. This uses Credential Manager for the Web.

## How to use

Click on the **Sign-in** button and a list of password accounts and passkey
accounts will appear in a dialog. Choose one of accounts and proceed.

### Requirements

* Chrome 135 or later with
`chrome://flags#enable-experimental-web-platform-features` enabled.

## How to develop

With Credential Manager for the Web, you can request
`navigator.credentials.get()` with `PublicKeyCredential` (passkeys) and
`PasswordCredential` (passwords) at the same time. In the future,
`IdentityCredential` (FedCM) can be requested as well.

  </div>
</div>
<main class="content center">
  <h2>Choose your account to sign in</h2>
  <section class="center">
    <mdui-button id="signin" type="button" variant="filled"
      >Sign-in</mdui-button
    >
    <mdui-button href="/passkey-form-autofill" variant="text"
      >Sign in with a form instead</mdui-button
    >
  </section>
</main>
