<main class="content center">
  <h2>Verify your password to continue</h2>
  <form id="form" method="POST" action="/auth/password" class="center">
    <input type="text" name="username" value="{{username}}" class="hidden" />
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      label="password"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Verify</mdui-button>
    <mdui-button id="passkey-signin" href="/passkey-reauth" variant="text">
      Verify with a passkey instead
    </mdui-button>
  </form>
</main>
