<main class="content center">
  <h2>Verify your identity with a passkey to continue</h2>
  <section class="center">
    <div id="hidden" class="hidden center">
      <mdui-button id="passkey-signin" variant="filled"> Verify </mdui-button>
    </div>
    <p id="unsupported" class="instructions">
      This browser does not support passkeys.
    </p>
  </section>
  <mdui-button id="password-signin" href="/password-reauth" variant="text">
    Verify with a password instead
  </mdui-button>
</main>
