<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Passkey reauthentication
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn reauthentication flow using
passkeys.

## How to use

TBD

## How to develop

TBD

  </div>
</div>
<main class="content center">
  <h2>Verify your identity</h2>
  <section class="center">
    <div id="hidden" class="hidden center">
      <mdui-button id="passkey-signin" variant="filled">
        Sign-in with passkey
      </mdui-button>
    </div>
    <p id="unsupported" class="instructions">
      This browser does not support passkeys.
    </p>
  </section>
  <mdui-button id="password-signin" href="/password" variant="text">
    Sign in with a password instead
  </mdui-button>
</main>
