<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Passkeys one button
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn passkeys one button sign-in.

## How to use

Tap on **Sign in with a passkey** button. If you have a passkey, it displays the
passkey dialog. Otherwise, you will be redirected to a password-based sign-in
form.

## How to develop

TBD

* Use `mediation: 'immediate'`.

  </div>
</div>
<main class="content center">
  <h2>Choose your passkey to sign in</h2>
  <section class="center">
    <mdui-button id="passkey-signin" icon="key--outlined" variant="filled">
      Sign-in with a passkey
    </mdui-button>
  </section>
  <mdui-button href="/passkey-form-autofill" variant="text"
    >Sign in with a form instead</mdui-button
  >
</main>
