<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Passkey iframe
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

  </div>
</div>
<main class="content center">
  <h2>Welcome back!</h2>
  <div id="iframe">
    <iframe
      src="{{iframe_origin}}/iframe-federation?nonce={{nonce}}&origin={{parent_origin}}"
      allow="publickey-credentials-get"
    ></iframe>
  </div>
  <p class="instructions">
    This is a demo website. Please don't use a real email address or a real
    password.
  </p>
</main>
