<main class="content center">
  <h2>Create your account</h2>
  <form id="form" method="POST" action="/auth/new-user" class="center">
    <p class="instructions">
      Already have an account? <a href="/passkey-form-autofill">Sign in</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      label="Username *"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-text-field
      type="text"
      id="display-name"
      name="displayName"
      label="Display name"
      variant="outlined"
    >
    </mdui-text-field>
    <mdui-button type="submit" variant="filled"
      >Create your account</mdui-button
    >
    <p class="instructions">
      By creating an account you accept our <a href="#">terms and conditions</a>
    </p>
    <p class="instructions">
      This is a demo website. Please don't use a real email address or a real
      password.
    </p>
  </form>
</main>
