<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Password authentication and automatic passkey upgrades
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience an ordinary password-based sign-in and passkey
automatic upgrades. **Automatic passkey upgrades** help your users adopt
passkeys.

## Prerequisites

* Automatic passkey upgrades require Chrome or Safari.

Last updated: 2025/05/18

## How to use

This is part of an identifier first sign-in experience. You must have entered a
username in the previous page. Simply enter a password to proceed.

After a successful password verification, the password manager creates a new
passkey automatically.

*Use the password saved to your password manager to perform automatic passkey
upgrades (Save a password to the password manager in advance).*

## How to develop

To perform **automatic passkey upgrades**, use **WebAuthn Conditional Create**.
Simply invoke `navigator.credentials.create()` with `mediation: "conditional"`
as soon as the user successfully authenticate with a password. There are a few
conditions to meet:

* A password is saved to the password manager.
* The password the user entered matches the one in the password manager.
* There is no passkey stored to the password manager yet.
* `navigator.credentials.create()` is invoked shortly after the user entered the
password.

### Learning resources

* [Automatically create passkeys for your users using Conditional
Create](https://web.dev/articles/webauthn-conditional-create)

  </div>
</div>
<main class="content center">
  <h2>Enter a password</h2>
  <form id="form" method="POST" action="/auth/password" class="center">
    <input type="text" name="username" value="{{username}}" class="hidden" />
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      label="password"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button href="#" variant="text">Forgot password?</mdui-button>
    <div class="split">
      <mdui-button variant="outlined">Back</mdui-button>
      <mdui-button type="submit" variant="filled">Login</mdui-button>
    </div>
    <p class="instructions">password will be ignored in this demo.</p>
    <mdui-button id="passkey-signin" href="/passkey-reauth" variant="text">
      Sign in with a passkey instead
    </mdui-button>
  </form>
</main>
