<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Unified sign-in
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn unified sign-in flow using
passwords and passkeys.

## How to use

TBD

## How to develop

TBD

  </div>
</div>
<main class="content center">
  <h2>Choose your account to sign in</h2>
  <section class="center">
    <mdui-button id="signin" type="button" variant="filled"
      >Sign-in</mdui-button
    >
    <mdui-button href="/passkey-form-autofill" variant="text"
      >Sign in with a form instead</mdui-button
    >
  </section>
</main>
