<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Sign-up with passkeys
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn sign-up flow using passkeys. Ideally,
sign-up with a passkey should involve identity verification process such as
email address verification, but in this demo, we skip that and directly create a
passkey.

## How to use

Enter a username you'd like to use for the new account in the username field and
press enter. If passkey is usable, the browser will prompt you to create a new
passkey, otherwise proceed to the next page to enter a new password.

## How to develop

Use [WebAuthn](https://www.w3.org/TR/webauthn/) to build a passkey experience.

You can create a passkey by invoking `navigator.credentials.create()` call. Make
sure that the new passkey is associated with the new username the user has just
entered.

There are a lot of tricks you can perform to make the future passkey experience
better. Here's a checklist:

* Specify `"platform"` as the authenticator attachment value to pass to
`navigator.credentials.create()` for a promoted passkey creation.  
* Verify the user with the strongest authentication method available for the
user before allowing them to create a passkey.  
* Prevent creating duplicate passkeys for the same passkey provider using
[`excludeCredentials`](https://web.dev/articles/webauthn-exclude-credentials).  
* [Use the AAGUID to identify the passkey
provider](https://web.dev/articles/webauthn-aaguid) and to name the credential
for the user.  
* Signal if an attempt to register a passkey fails with
[`PublicKeyCredential.signalUnknownCredential()`](https://developer.chrome.com/docs/identity/webauthn-signal-api#signal-that-a-credential-does-not-exist).  
* [Send a notification to the
user](https://web.dev/articles/passkey-registration#send_a_notification_to_the_user)
after creating and registering a passkey for their account.  

### Learning resources

* [Create a passkey for passwordless
logins](https://web.dev/articles/passkey-registration) * [Server-side passkey
registration](https://developers.google.com/identity/passkeys/developer-guides/server-registration)
* [Implement passkeys with form autofill in a web
app](https://goo.gle/passkeys-codelab)

  </div>
</div>
<main class="content center">
  <h2>Create your account</h2>
  <form id="form" method="POST" action="/auth/new-user" class="center">
    <p class="instructions">
      Already have an account? <a href="/passkey-form-autofill">Sign in</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      label="username"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-button type="submit" variant="filled"
      >Create your account</mdui-button
    >
    <p class="instructions">
      By creating an account you accept our <a href="#">terms and conditions</a>
    </p>
  </form>
</main>
