<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Password reauthentication
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn password-based reauthentication.

## How to use

You are redirected here because you tried to access a sensitive page that
requires reauthentication. Simply enter your password to proceed.

After a password verification, you'll be signed in.

*Since this demo doesn't save the password to the server, you can sign in with a
random text as your password.*

## How to develop

Require reauthentication after a certain duration has passed since the last
credential verification.

Pass the original destination to the server. After successful reauthentication,
redirect the user back to the original destination. In this demo, the URL is
passed as a query parameter, but the redirect logic should only accept same
origin, to prevent open redirects.

  </div>
</div>
<main class="content center">
  <h2>Verify your password to continue</h2>
  <form id="form" method="POST" action="/auth/password" class="center">
    <input type="text" name="username" value="{{username}}" class="hidden" />
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      label="password"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Verify</mdui-button>
    <mdui-button id="passkey-signin" href="/passkey-reauth" variant="text">
      Verify with a passkey instead
    </mdui-button>
  </form>
</main>
