    <main class="content center">
      <h2>
        Enter a password
      </h2>
      <form id="form" method="POST" action="/auth/password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <mdui-text-field
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          value="password"
          label="password"
          variant="outlined"
          autofocus>
          <mdui-button-icon
            class="password-toggle"
            slot="end-icon"
            icon="visibility_off--outlined"
            selected-icon="visibility--outlined"
            selectable>
          </mdui-button-icon>
        </mdui-text-field>
        <mdui-button href="#" variant="text">Forgot password?</mdui-button>
        <div class="split">
          <mdui-button variant="outlined">Back</mdui-button>
          <mdui-button type="submit" variant="filled">Login</mdui-button>
        </div>
        <p class="instructions">password will be ignored in this demo.</p>
        <mdui-button href="/passkey-reauth" variant="text">Sign in with a passkey instead</mdui-button>
      </form>
    </main>
