<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Passkey reauthentication
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience and learn passkey-based reauthentication.

## How to use

You are redirected here because you tried to access a sensitive page that
requires reauthentication. Simply use a passkey to proceed.

After a passkey verification, you'll be signed in.

## How to develop

Require reauthentication after a certain duration has passed since the last
credential verification.

Use [WebAuthn](https://www.w3.org/TR/webauthn/) to build a passkey
reauthentication. It's very similar to [passkey one button](/passkey-one-button)
experience, except that it limits the passkey the user can use, to prevent
signing in with a passkey that doesn't match the one the user currently signs
in with.

To do so, simply pass the known credential IDs that this account has registered
to `allowCredentials`.

It's also important to verify that the owner of the passkey matches the one who
is already signed in.

Pass the original destination to the server. After successful reauthentication,
redirect the user back to the original destination. In this demo, the URL is
passed as a query parameter, but the redirect logic should only accept same
origin, to prevent open redirects.

  </div>
</div>
<main class="content center">
  <h2>Verify your identity with a passkey to continue</h2>
  <section class="center">
    <div id="hidden" class="hidden center">
      <mdui-button id="passkey-signin" variant="filled"> Verify </mdui-button>
    </div>
    <p id="unsupported" class="instructions">
      This browser does not support passkeys.
    </p>
  </section>
  <mdui-button id="password-signin" href="/password-reauth" variant="text">
    Verify with a password instead
  </mdui-button>
</main>
