<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Sign-in form and automatic passkey upgrades
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience a form based sign-in flow and passkey automatic
upgrades. **Automatic passkey upgrades** help your users adopt passkeys.

## Prerequisites

* Automatic passkey upgrades require Chrome or Safari.

Last updated: 2025/05/18

## How to use

This is an ordinary username and password based sign-in form experience. Simply
enter a username and a password to proceed.

After a successful password verification, the password manager creates a new
passkey automatically.

*Use the password saved to your password manager to perform automatic passkey
upgrades (Save a password to the password manager in advance).*

## How to develop

To perform **automatic passkey upgrades**, use **WebAuthn Conditional Create**.
Simply invoke `navigator.credentials.create()` with `mediation: "conditional"`
as soon as the user successfully authenticate with a password. There are a few
conditions to meet:

* A password is saved to the password manager.
* The password the user entered matches the one in the password manager.
* There is no passkey stored to the password manager yet.
* `navigator.credentials.create()` is invoked shortly after the user entered the
password.

### Learning resources

* [Sign-in form best practices](https://web.dev/articles/sign-in-form-best-practices)
* [Automatically create passkeys for your users using Conditional
Create](https://web.dev/articles/webauthn-conditional-create)

  </div>
</div>
<main class="content center">
  <h2>Log in</h2>
  <form id="form" method="POST" action="/auth/username-password" class="center">
    <p class="instructions">
      Don't have an account yet? <a href="/signup-form">Register now</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username webauthn"
      label="username"
      width="100"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      label="password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        toggle
        slot="end-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Login</mdui-button>
    <mdui-button href="#" variant="text">Forgot password?</mdui-button>
  </form>
</main>
