<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Sign-up form
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience account creation through a form based sign-up
flow using a username and a password.

## How to use

Simply enter a username and a password twice to create an account.

*The password won't be saved to the server on this website. You don't need to
create an account before signing in.*

## How to develop

Use `input` tag for a `username` field and `password` fields.

Append `autocomplete="username"` attribute for `username` field. Append
`autocomplete="new-password"` attribute for `password` fields.

### Learning resources

* [Sign-up form best practices](https://web.dev/articles/sign-up-form-best-practices)

  </div>
</div>
<main class="content center">
  <h2>Create your account</h2>
  <form
    id="form"
    method="POST"
    action="/auth/new-username-password"
    class="center"
  >
    <p class="instructions">
      Already have an account? <a href="/signin-form">Sign in</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      label="username"
      width="100"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password1"
      name="password1"
      autocomplete="new-password"
      label="New password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password2"
      name="password2"
      autocomplete="new-password"
      label="Confirm password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Sign up</mdui-button>
  </form>
</main>
