<div id="help-text">
  <!-- prettier-ignore -->
  <div class="help-headline">
Sign-up form
  </div>
  <!-- prettier-ignore -->
  <div class="help-description">

In this page, you can experience account creation through a form based sign-up
flow using a username and a password.

## How to use

Fill in the form and submit to sign up. You need to enter a username and two
identical passwords.

As this is a demo website, the password won't be stored to the server. This
means you don't need to create an account before signing in.

When you go to one of sign-in pages on this website, you can sign in to an
arbitrary account using a random password.

## How to develop

This demo uses web components, but you can use `input` tag to create a
`username` field and `password` fields.

Notable best practice you can follow is to append `autocomplete` attribute for
`username` field and `password` fields. For a `username` field, use
`autocomplete="username"`. For `password` fields, use
`autocomplete="new-password"`.

There are a lot of other small things you can do to improve a sign-up form.
Learn more:

* [Sign-up form best practices](https://web.dev/articles/sign-up-form-best-practices)

  </div>
</div>
<main class="content center">
  <h2>Create your account</h2>
  <form
    id="form"
    method="POST"
    action="/auth/new-username-password"
    class="center"
  >
    <p class="instructions">
      Already have an account? <a href="/signin-form">Sign in</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      label="username"
      width="100"
      variant="outlined"
      autofocus
    >
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password1"
      name="password1"
      autocomplete="new-password"
      label="New password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password2"
      name="password2"
      autocomplete="new-password"
      label="Confirm password"
      width="100"
      variant="outlined"
      autofocus
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Sign up</mdui-button>
  </form>
</main>
