<main class="content center">
  <h2>Create your account</h2>
  <form
    id="form"
    method="POST"
    action="/auth/new-username-password"
    class="center"
  >
    <p class="instructions">
      Already have an account? <a href="/signin-form">Sign in</a>
    </p>
    <mdui-text-field
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      label="Username *"
      width="100"
      variant="outlined"
    >
    </mdui-text-field>
    <mdui-text-field
      type="text"
      id="display-name"
      name="displayName"
      label="Display name"
      variant="outlined"
    >
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password1"
      name="password1"
      autocomplete="new-password"
      label="New password *"
      width="100"
      variant="outlined"
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-text-field
      type="password"
      id="password2"
      name="password2"
      autocomplete="new-password"
      label="Confirm password *"
      width="100"
      variant="outlined"
    >
      <mdui-button-icon
        class="password-toggle"
        slot="end-icon"
        toggle
        slot="trailing-icon"
        icon="visibility_off--outlined"
        selected-icon="visibility--outlined"
        selectable
      >
      </mdui-button-icon>
    </mdui-text-field>
    <mdui-button type="submit" variant="filled">Sign up</mdui-button>
    <p class="instructions">
      This is a demo website. Please don't use a real email address or a real
      password.
    </p>
  </form>
</main>
