      <div class="sidebar">
        <div
          id="corner-button"
          {{#if (isSignedIn)}}
          class="corner-triangle left-corner"
          {{else}}
          class="corner-triangle right-corner"
          {{/if}}>
          <mdui-button-icon
            href="{{repository_url}}"
            icon="code--outlined">
          </mdui-button-icon>
        </div>
        <header>
          <a href="/"><img src="/images/icon.svg" width="34" height="34"></a>
          <h2><a href="/">SHRINE</a></h2>
        </header>
        {{#if (isSignedIn)}}
        <mdui-list>
          <mdui-list-item type="link" href="/home" icon="home--outlined">
            Home
          </mdui-list-item>
          <mdui-list-item type="link" href="/settings/passkeys" icon="password--outlined">
            Passkey Management
          </mdui-list-item>
          <mdui-list-item type="link" href="/settings/delete-account" icon="no_accounts--outlined">
            Delete account
          </mdui-list-item>
        </mdui-list>
        <mdui-list class="flex-bottom">
          <mdui-list-item type="button" icon="logout--outlined" id="signout">
            SIGN OUT
          </mdui-list-item>
        {{else}}
        <mdui-list>
          <mdui-list-item>
          </mdui-list-item>
        </mdui-list>
        <mdui-list class="flex-bottom">
        {{/if}}
          <mdui-list-item type="button" icon="help--outlined" id="help">
            WHAT'S IN THIS PAGE?
          </mdui-list-item>
        </mdui-list>
      </div>