      <div class="sidebar">
        <header>
          <div class="corner-icon">
            <md-icon-button href="{{repository_url}}">
              <md-icon>code</md-icon>
            </md-icon-button>
          </div>
          <a href="/"><img src="/images/icon.svg" width="34" height="34"></a>
          <h2><a href="/">SHRINE</a></h2>
        </header>
        <md-list>
          <md-list-item>
            Sidebar content
          </md-list-item>
        </md-list>
        {{#if (isSignedIn)}}
        <md-list class="flex-bottom">
          <md-list-item id="signout">
            SIGN OUT
            <md-icon slot="start">logout</md-icon>
          </md-list-item>
        </md-list>
        {{/if}}
      </div>